<h1>Set Availability</h1>

<h2>Items that will be available today</h2>
<table id="table_1">
  <tbody>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Remove</th>
  </tr>
  <% (1..8).each do |i| %>
    <tr>
      <td><%= i%></td>
      <td><%= i%></td>
      <td><button class='switch'>Switch</button></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h2>Items that will not be available today</h2>
<table id='table_2'>
  <th>Name</th>
  <th>Category</th>
  <th>Add</th>
  <tbody>
  <% @items.each do |i| %>
    <tr>
      <td><%= i.name %></td>
      <td><%= i.category %></td>
      <td><button class='switch'>Switch</button></td>
    </tr>
  <% end %>
  </tbody>
</table>
